<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Pi-Monitor</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="icon" href="assets/favicon.png">
    </head>
    <body>
        <div class="container"> 
            <div class="row">
                <div class="col">
                    <div class="page-header">
                        <h1 class="display-4">Pi-Monitor</h1>
                        <p class="h4">Servidor <small class="text-muted"><%= ip %></small></p>
                    </div>
                </div>
            </div>
            <div class="panel-group">

                <div class="panel panel-primary">
                    <div class="panel-heading">Sistema</div>
                    <div class="panel-body"><p id="sistema"></p></div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">CPU</div>
                    <div class="panel-body">
                        <p>Temp <span class="glyphicons glyphicons-temperature"></span></p>
                        <p id="cpu"></p>    
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">RAM</div>
                    <div class="panel-body"><p id="ram"></p></div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">HDD</div>
                    <div class="panel-body"><p id="hdd"></p></div>
                </div>
            </div>
        </div>
        <!-- JQUERY -->
        <script type="text/javascript" src="jquery/dist/jquery.js"></script>
        <!-- BOOTSTRAP -->
        <script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
        <!-- SOCKET -->
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script>var socket = io.connect('http://<%= ip %>:<%= port%>', { 'forceNew': true });</script>
        <!-- CUSTOM -->
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>