<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Error 404 - Pagina no encontrada</title>
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="icon" href="assets/favicon.png">
    </head>
    <body>
        <div class="container">
        <h1 style="color: blue;">Error 404</h1>
        <strong>No se puede encontrar la pagina <%= url %></strong>
        <a type="button" class="btn btn-info btn-xs" href="<%= home %>">Volver al inicio</a>
        </div>
        <!-- BOOTSTRAP -->
        <script type="text/javascript" src="bootstrap\dist\js\bootstrap.js"></script>
    </body>
</html>